# dependencies
/node_modules
# Source maps
*.map
*.js.map
*.css.map
dist/* 
dist
backend/dist/tsconfig.build.tsbuildinfo
.github
.DEVELOPMENT_GUIDELINES.md
.CLAUDE.md
.claude
tasks/todo-3-page-list.md
tasks/todo-4-admin-users.md
tasks/todo-5-upload-service.md
tasks/todo-ci-cd.md
tasks/todo-home-2.md
tasks/todo-home.md
docs/CI-CD-DOCUMENTATION.md
docs/deploy.md
docs/ci-cd/CI-CD-README.md
backend/scripts/setup-materialized-views.sql
backend/schema.md
SETUP-HOMEPAGE.md
home.md
DEVELOPMENT_GUIDELINES.md
AI-AGENT-WORKFLOW.md
CLAUDE.md
tasks/fix.md
README.md
README.md
