# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Testing
coverage/
*.coverage

node_modules
.env
/generated/prisma
dist 
dist/ 
package-lock.json

# Source maps
*.map
*.js.map
*.css.map

# Source maps
/*.map
/*.js.map
/*.css.map